html {
    scroll-behavior: smooth;
}

.btn  {
    color: #868686;
    border: 1px solid;
    background: #fff;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    transition: .5s;
}

.btn:hover {
    box-shadow: 0 0 1px 5px #8E8E8EB5;
    color: #fff;
    background: #B1B1B1;
    border-color: #000000;
}

.btn-p {
    color: #0075F1;
}

.btn-p:hover {
    box-shadow: 0 0 1px 5px #3D93EEB5;
    color: #fff;
    background: #0075F1;
    border-color: #07f;
}

.btn-s {
    color: #808080;
}

.btn-s:hover {
    box-shadow: 0 0 1px 5px #A0A1A2B5;
    color: #fff;
    background: #5A5A5A;
    border-color: #5a5a5a;
}

.btn-S {
    color: #2E7D00;
}

.btn-S:hover {
    box-shadow: 0 0 1px 5px #30A600B5;
    color: #fff;
    background: #0F9F0D;
    border-color: #090;
}

.btn-l {
    color: #44A5FF;
    text-decoration: underline;
}

.btn-l:hover {
    box-shadow: 0 0 1px 5px #1188FFB5;
    color: #fff;
    background: #0866A2;
    border-color: #06a;
}




.info {
    transform: translateY(-150%); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 200px;
    padding: 15px;
    font-size: 20px;
    background: #FFFFFF;
    border-bottom: 1px solid #000000;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    z-index: 10000;
    transition: transform 0.5s ease-in-out;   
}


.show-info:focus ~ .info {
    transform: translateY(0);
}


.close-btn:focus {
    outline: none;
}

.close-btn:focus-within .info {
    display: none; 
}

.info .ok::after {
    content: " ✓";
    color: green;
}

.inp  {
    border-radius: 5px;
    border: 1px solid;
    transition: .5s;
    outline: 0;
}

.inp:hover {
    outline: #0093D9B8 solid 4px;
    border: .5px solid ;
}

.card-container {
  width: 200px;
  height: auto;
  border: 1px solid #0081C2;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: inline-block;
  vertical-align: top;
}

.card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card-title {
    margin-top: 5px;
    font-weight: bold;
}

.card-paragraph {
    margin-top: 5px;
    font-weight: bold;
    font-size: 15px;
}


.link {
    padding: 5px;
    width: auto;
    border-radius: 5px;
    border: 1px solid #1B98D3;
    color: #1B98D3;
}


.collabse .container {
  display: none;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  transition: 1s;
}

.collabse:hover .container {
  display: block;
}


.container {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  transition: 1s;
  overflow-y: scroll;
  max-height: 200px;
}

.btn-container {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  transition: 1s;
}

.close-btn {
  position: relative;
  margin: 5px;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #000;
  transition: .5s;
}

.close-btn::after {
  content: "×";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  cursor: pointer;
}


.close-btn:focus {
    background: #4394FF;
    transform: rotate(180deg);
    color: #fff;
}


.close-btn:focus ~ .info {
  animation-fill-mode: notflwards;
}


.drop-down {
  position: relative;
  display: inline-block;
}

.drop-body {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  margin-top: 5px;
}

.drop-down:hover .drop-body {
  display: block;
}


.drop-btn  {
    margin: 5px;
}


